:root {
    --nav-width: 15rem;

    --body-light: #aab1b8
}

body, html {
    height: 100%;
}


/* ----- *** ________________ GLOBAL ________________ *** ----- */
a, a:focus {
    text-decoration: none;
    transition: all .2s ease;
}
.fullscreen {
    min-height: 100vh!important;
}
.opacity-8 {
    opacity: .8;
}



/* ----- *** ________________ HOME ________________ *** ----- */
#main-wrapper {
    margin-left: var(--nav-width);
}



/* ----- *** ________________ HEADER ________________ *** ----- */

#header {
    transition: all .5s ease;
}

#header .primary-menu {
    padding: 0;
    display: flex;
    align-self: stretch;
    position: fixed;
    left: 0;
    top: 0;
    width: var(--nav-width);
    height: 100%;
    z-index: 2;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.065);
}

#header .navbar-nav {
    flex-direction: column;
    width: 100%;
}

#header .social-icons {
    margin: 0;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

#header .social-icons li {
    padding: 0;
    overflow: visible;
}

#header .social-icons li a {
    display: block;
    height: 1.5rem;
    line-height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
}

#header .social-icons.social-icons-sm li a {
    font-size: 10pt;
}

body:not(.rtl) #header .social-icons li:first-child {
    margin-left: 0;
}

.social-icons.social-icons-sm li {
    margin: 2px 4px;
}

.social-icons.social-icons-muted li a {
    color: var(--body-light)
}



/* ----- *** ________________ SECTIONS ________________ *** ----- */

.hero-wrap {
    position: relative;
    overflow: hidden;
}

.hero-wrap .hero-mask {
    z-index: 1;
}

.hero-wrap .hero-bg {
    z-index: 0;
    transition: background-image 300ms ease-in 200ms;
}

.hero-wrap .hero-mask, .hero-wrap .hero-bg, .hero-wrap .hero-bg-slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hero-wrap .hero-content {
    position: relative;
    z-index: 2;
}
.scroll-down-arrow {
    position: absolute;
    z-index: 3;
    bottom: 1.25rem;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    text-align: center;
}
