@import 'global.css';

body, html {
    font-family: 'Varela Round', sans-serif;
    height: 100%;
}


/* ----- *** ________________ HOME ________________ *** ----- */
#main-wrapper {
    margin-left: var(--nav-width);
}


/* ----- *** ________________ HEADER ________________ *** ----- */

#header {
    transition: all .5s ease;
}

#header .primary-menu {
    padding: 0;
    display: flex;
    align-self: stretch;
    position: fixed;
    left: 0;
    top: 0;
    width: var(--nav-width);
    height: 100%;
    z-index: 2;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.065);
}
.primary-menu ul.navbar-nav > li:hover > a:not(.btn), .primary-menu ul.navbar-nav > li > a.active:not(.btn) {
    color: #20c997;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.primary-menu.navbar-text-light .navbar-nav > li > a:not(.btn) {
    color: rgba(250, 250, 250, 0.9);
}

#header .navbar-nav {
    flex-direction: column;
    width: 100%;
}

.social-icons {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.social-icons li {
    margin: 2px 6px;
    padding: 0;
    overflow: visible;
}

.social-icons li a {
    display: block;
    height: 1.5rem;
    line-height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    font-size: 18px;
    color: #4d555a;
    -webkit-transition: all 0.2s ease;
}

#header .social-icons.social-icons-sm li a {
    font-size: 10pt;
}

body:not(.rtl) .social-icons li:first-child {
    margin-left: 0;
}

.social-icons.social-icons-sm li {
    margin: 2px 4px;
}

.social-icons.social-icons-muted li a {
    color: var(--body-light)
}


/* ----- *** ________________ SECTIONS ________________ *** ----- */

.section {
    position: relative;
    padding: 4.5rem 0;
    overflow: hidden;
}

.hero-wrap {
    position: relative;
    overflow: hidden;
}

.hero-wrap .hero-mask {
    z-index: 1;
}

.hero-wrap .hero-bg {
    z-index: 0;
    transition: background-image 300ms ease-in 200ms;
}

.hero-wrap .hero-mask, .hero-wrap .hero-bg, .hero-wrap .hero-bg-slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-wrap .hero-content {
    position: relative;
    z-index: 2;
}

.scroll-down-arrow {
    position: absolute;
    z-index: 3;
    bottom: 1.25rem;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    text-align: center;
}
.scroll-down-arrow .animated {
    position: relative;
    animation: fadeInDown 1.5s infinite;
    -webkit-animation: fadeInDown 1.5s infinite;
    -moz-animation: fadeInDown 1.5s infinite;
    -o-animation: fadeInDown 1.5s infinite;
}
@keyframes fadeInDown {
    0% {
        top: -25px;
        opacity: 0;
    }
    100% {
        top: 10px;
        opacity: 1;
    }
}



/* ----- *** ________________ PORTFOLIO ________________ *** ----- */

.nav-tabs:not(.flex-column) .nav-item {
    margin-bottom: 0;
}
.nav:not(.nav-pills) .nav-item .nav-link.active, .nav:not(.nav-pills) .nav-item .nav-link:hover {
    color: var(--primary-color);
}
.nav-tabs .nav-item .nav-link {
    border: 0;
    background: transparent;
    position: relative;
    border-radius: 0;
    padding: 0.6rem 1rem;
    color: #7b8084;
    white-space: nowrap !important;
}
.nav-tabs .nav-item .nav-link.active:after {
    height: 2px;
    width: 100%;
    content: ' ';
    background-color: #20c997;
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: translateY(-3px);
}

.portfolio .portfolio-box {
    position: relative;
}
.portfolio .portfolio-box .portfolio-img {
    position: relative;
    overflow: hidden;
}
.portfolio .portfolio-box .portfolio-img img {
    transition: all 0.3s ease-in-out;
}
.portfolio .portfolio-box .portfolio-overlay {
    text-align: center;
    display: -ms-flexbox !important;
    display: flex !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.portfolio .portfolio-box .portfolio-overlay-details {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}



/* ----- *** ________________ FOOTER ________________ *** ----- */

#footer .nav .nav-item {
    display: inline-block;
    line-height: 12px;
    margin: 0;
}
#footer .nav .nav-item .nav-link {
    color: #252b33;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
